.icon-home{
    width: 25px;
    height: 25px;
    background: url('../../assets/icon/icon-home.svg') no-repeat;
    background-size: cover;
}

.icon-list{
    width: 25px;
    height: 25px;
    background: url('../../assets/icon/icon-list.svg') no-repeat;
    background-size: cover;
}
.icon-heart{
    width: 25px;
    height: 25px;
    background: url('../../assets/icon/icon-profile.svg') no-repeat;
    background-size: cover;
}