.icon-home{
    width: 20px;
    height: 20px;
    background: url('../../assets/icon/iconhome.png') no-repeat;
}

.icon-list{
    width: 20px;
    height: 20px;
    background: url('../../assets/icon/iconlist.png') no-repeat;
}
.icon-heart{
    width: 20px;
    height: 20px;
    background: url('../../assets/icon/iconheart.png') no-repeat;
}
.icon-cart{
    background: url('../../assets/icon/iconcart.png') no-repeat;
}