.header{
    width: 100%;
    margin: 7% 0 1% 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon{
        margin-left: 4%;
        width: 20px;
        height: 25px;
        background: url('../../../assets/icon/back.png') no-repeat;
    }

    .search{
        margin: 0 5% 0 5%;
        width: 63%;
        height: 30px;
        border: 1px solid #66696E;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: row;

        input{
            font-size: 14px;
            padding-left: 10px;
            width: 100% - 20%;
            border: none;
            outline: none;
        }

        .icon-search{
            margin: 8px;
            float: right;
            width: 14px;
            height: 14px;
            background-image: url('../../../assets/icon/iconsearch.png');
        }
    }

    .avt{
        margin-right: 5%;
        width: 40px;
        height: 40px;
        border-radius: 100px ;
        background: url('../../../assets/avt.jpg') no-repeat;
        background-size: cover;
    }
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 24px 0 0 5%;
    background: #FFFFFF;
    border: 0.2px solid #f0f1f5;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 35px rgba(0, 0, 0, 0.25));

    .img-item{
        margin-top: 18px;
        width: 131px;
        height: 244px;
        background: url('../../../assets/items/MilkTea.png') no-repeat;
        background-size: cover;
    }

    p{
        font-weight: bold;
        font-size: 20px;
        line-height: 26.5px;
        color: #66696E;
    }
    
    h1{
        font-size: 30px;
        color: #FFC107;
        font-weight: bold;
        line-height: 38px;
        margin: 13px 0 22px 0;
    }
}

.topping{
    width: 90%;
    margin:30px 0 0 5%;
    height: 100px;
    filter: drop-shadow(0px 0px 35px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    border: 0.2px solid #f0f1f5;
    border-radius: 8px;

    p{
        float: left;
        margin: 9px 0 20px 10px ;
        font-size: 15px;
        line-height: 19px;
        font-weight: bold;
        color: #66696E;
    }

    .option{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;

        .op1{
            width: 25%;
            height: 30px;
            background: #98CCB6;
            border-radius: 5px;
        }
        .op2{
            margin-left: 20px;
            width: 25%;
            height: 30px;
            background: #DEC369;
            border-radius: 5px;
        }
        .op3{
            margin-left: 20px;
            width: 25%;
            height: 30px;
            background: #994C90;
            border-radius: 5px;
        }
    }

    .btn{
        margin: 80px 0 80px 0;
        width: 100%;
        background: #03A87C;
        box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
    }
}

