<ion-content fullscreen>
  <div class="header">
    <div class="icon"></div>
    <div class="search">
      <input type="text" placeholder="Search...">
      <div class="icon-search"></div>
    </div>
    <div class="avt"></div>
  </div>

  <div class="item">
    <div class="img">
      <div class="img-item"></div>
      <div class="fillheart"></div>
    </div>
    <div class="title">
      <h1>35.000 đ</h1>
      <p>Sữa tươi trân châu đường đen</p>
    </div>
  </div>

  <div class="topping">
    <p>Topping</p>
    <div class="option">
        <div class="op1"></div>
        <div class="op2"></div>
        <div class="op3"></div>
    </div>
    <ion-button class="btn" type="submit" (click)="presentAlert()" expand="block" fill="clear" shape="round">
      ADD TO CART
    </ion-button>
  </div>
</ion-content>
