<ion-content fullscreen>
  <div class="header">
    <div class="icon"></div>
    <div class="search">
      <input type="text" placeholder="Search...">
      <div class="icon-search"></div>
    </div>
  </div>
  <form>
    <div class="new-item">
      <p>Picture</p>
      <div class="img">
        <input type="file" name="filename" accept="image/gif, image/jpeg, image/png">
      </div>
      <p>Name:</p>
      <div class="row-short">
        <input type="text">
      </div>
      <p>Price:</p>
      <div class="row-short">
        <input type="text">
      </div>
      <p>Description:</p>
      <div class="row-long">
        <textarea name="description" id="a"></textarea>
      </div>
    </div>
    <ion-button class="btn" type="submit" (click)="presentAlert()" expand="block" fill="clear" shape="round">
      NEW ITEM
    </ion-button>
  </form>
</ion-content>
