  <ion-content fullscreen>
    <div class="header">
      <div class="icon"></div>
      <div class="search">
        <input type="text" placeholder="Search...">
        <div class="icon-search"></div>
      </div>
      <div class="avt"></div>
    </div>
    <div>
      <div class="hot-items">
        <p> Hot </p>
          <div class="two">
            <div class="item">
              <div class="imgItem"></div>
              <div class="title">
                <p>Sữa tươi trân châu đường đen</p><h1>35.000 đ</h1>
              </div>
            </div>
            <div class="item">
              <div class="imgItem"></div>
              <div class="title">
                <p>Sữa tươi trân châu đường đen</p><h1>35.000 đ</h1>
              </div>
            </div>
            <div class="item">
              <div class="imgItem"></div>
              <div class="title">
                <p>Sữa tươi trân châu đường đen</p><h1>35.000 đ</h1>
              </div>
            </div>
            <div class="item">
              <div class="imgItem"></div>
              <div class="title">
                <p>Sữa tươi trân châu đường đen</p><h1>35.000 đ</h1>
              </div>
            </div>
            <div class="item">
              <div class="imgItem"></div>
              <div class="title">
                <p>Sữa tươi trân châu đường đen</p><h1>35.000 đ</h1>
              </div>
            </div>
            <div class="item">
              <div class="imgItem"></div>
              <div class="title">
                <p>Sữa tươi trân châu đường đen</p><h1>35.000 đ</h1>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div>
      <div class="hot-items">
        <p> Sale </p>
          <div class="two">
            <div class="item">
              <div class="imgItem"></div>
              <div class="title">
                <p>Sữa tươi trân châu đường đen</p><h1>35.000 đ</h1>
              </div>
            </div>
            <div class="item">
              <div class="imgItem"></div>
              <div class="title">
                <p>Sữa tươi trân châu đường đen</p><h1>35.000 đ</h1>
              </div>
            </div>
          </div>
        </div>
    </div>
  </ion-content> 
