<ion-content fullscreen>
  <div class="header">
    <div class="icon"></div>
    <div class="search">
      <input type="text" placeholder="Search...">
      <div class="icon-search"></div>
    </div>
    <div class="avt"></div>
  </div>
  <h1>Đơn hàng của tôi.</h1>
  <div class="bill">
    <div class="row-1"> <p>mã đơn hàng: </p><a href="#"> #abc123xyz</a> </div>
    <div class="row-2"> <p>Địa chỉ người nhận: </p><a href="#">150 Bùi Thị Xuân - Đà Lạt - Lâm Đồng </a> </div>
    <div class="row-2"> <p>Thời gian nhận hàng: </p><a href="#">12:30 thứ năm -09/10/2020</a> </div>
    <div class="row-3">
      <h2>Tổng tiền:</h2> <p>105.000 đ</p>
    </div>
    <ion-button class="btn" (click)="presentAlert()" expand="block" fill="clear" shape="round">
      Hủy đơn hàng.
    </ion-button>
  </div>
  <div class="my-items">
    <div class="item">
      <div class="img"><img style="width:40px" src="../../assets/items/MilkTea.png"></div>
      <div class="desc">
        <h3>35.000 đ</h3>
        <p>Trà sữa cổ điển</p>
      </div>
    </div>
    <div class="item">
      <div class="img"><img style="width:40px" src="../../assets/items/MilkTea.png"></div>
      <div class="desc">
        <h3>35.000 đ</h3>
        <p>Trà sữa cổ điển</p>
      </div>
    </div>
    <div class="item">
      <div class="img"><img style="width:40px" src="../../assets/items/MilkTea.png"></div>
      <div class="desc">
        <h3>35.000 đ</h3>
        <p>Trà sữa cổ điển</p>
      </div>
    </div>
  </div>
</ion-content>