.header{
    width: 100%;
    margin: 7% 0 1% 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon{
        margin-left: 4%;
        width: 20px;
        height: 25px;
        background: url('../../../assets/icon/back.png') no-repeat;
    }

    .search{
        margin: 0 5% 0 5%;
        width: 63%;
        height: 30px;
        border: 1px solid #66696E;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: row;

        input{
            font-size: 14px;
            padding-left: 10px;
            width: 100% - 20%;
            border: none;
            outline: none;
        }

        .icon-search{
            margin: 8px;
            float: right;
            width: 14px;
            height: 14px;
            background-image: url('../../../assets/icon/iconsearch.png');
        }
    }

    .avt{
        margin-right: 5%;
        width: 40px;
        height: 40px;
        border-radius: 100px ;
        background: url('../../../assets/avt.jpg') no-repeat;
        background-size: cover;
    }
}

h1{
    margin: 15px 0 0 5%;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #66696E;
}

.bill{
    margin: 20px 0 10px 5%;
    width: 90%;
    height: 290px;
    filter: drop-shadow(0px 0px 35px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    .row-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: auto;
        border-bottom: 0.2px solid #66696E;

        p{
            margin: 10px 0 10px 15px;
            font-weight: bold;
            font-size: 15px;
            color: #66696E;
        }

        a{
            font-weight: bold;
            font-size: 15px;
            color: #03A87C;
            text-decoration: none;
        }
    }

    .row-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        border-bottom: 0.2px solid #66696E;

        p{
            margin:10px 0 1px 15px;
            font-weight: bold;
            font-size: 15px;
            color: #66696E;
        }

        a{
            margin:2px 0 10px 15px;
            font-weight: bold;
            font-size: 15px;
            color: #03A87C;
            text-decoration: none;
        }
    }

    .row-3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;

        p{  
            margin: 10px 0 0 10px;
            font-weight: bold;
            font-size: 22px;
            line-height: 20px;
            text-align: right;
            color: #FFC107;
        }

        h2{
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            text-decoration-line: underline;
            color: #66696E;
        }
    }

    .btn{
        width: 80%;
        height: 40px;
        margin: 20px 0 0 10%;
        background: #03A87C;
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
        border-radius: 8px;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
    }

}

.my-items{
    width: 100%;
    margin: 40px 0 30px 0;
    height: auto;
    display: flex;
    flex-direction: column;

    .item{
        width: 100%;
        height: 95px;
        border-radius: 4px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
        background: #FFFFFF;

        .img{
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            background: #C4C4C4;
        }

        .desc{
            margin-left: 20px;
            width: 57%;
            h3{
                padding: 15px 0 2px 0;
                margin: 0;
                font-weight: bold;
                font-size: 20px;
                color: #FFC107;
            }
    
            p{
                margin:0;
                font-weight: bold;
                font-size: 15px;
                color: #66696E;
                padding-bottom: 10px;
            }
        }
        
    }
}




