<div id="container">
  <h1>Log In</h1>
  <form class="form">
    <div>
      <p class="label">User Name <a>*</a></p> <br/>
      <ion-input type="email"></ion-input>  
    </div>
    <div>
      <p class="label">Password <a>*</a></p> <br/>
      <ion-input type="password"></ion-input>  
    </div>
    <p class="forgot">Forgot your password?</p>
    <ion-button class="btn-login" type="submit" color="03A87C">Log In</ion-button>
  </form>
  <div class="withlog">
    <p>Quick log in with</p>
    <ion-button class="btn">Log In with Facebook</ion-button>
    <ion-button class="btn" color="#181A1F" style="background-color: #181A1F ;">Log In with Google</ion-button>
  </div>
  <div class="btn-control" style="position:fixed; right: 0; bottom: 0;">
    <button (click)="GotoSignup()">Sign Up</button>
    <button class="active">Log In</button>
  </div>
</div>
